/*h1 {font-family: 'Open Sans', sans-serif;
}

body, html {
  margin: 0;

  font-family: 'Open Sans', sans-serif;


}


canvas {

  cursor: crosshair;

  }*/
.item1 {
  padding: 10px 0;
  text-align: 0;
  background: 0;
  color: black;
  font-size: 30px;

}
 /* .item2 {
  padding: 100px 0;
  text-align: 0;
  background: 0;
  color: black;
  font-size: 30px;
  
}*/

.item3 {
  padding: 50px 0;
  text-align: 0;
  background: 0;
  color: black;
  font-size: 30px;
  
}


.item4 {
  padding: 100px 0;
  text-align: 0;
  background: 0;
  color: black;
  font-size: 30px;
  
}




.item5 {
  padding: 100px 0;
  text-align: 0;
  background: 0;
  color: black;
  font-size: 30px;
  
}




